<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket Client</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>



    <section class="chat_wrapper">
        <div id="brand_name">
            <h1 id="heading">Welcome to the socket room.</h1>
        </div>
        <div id="message_area"></div>
        <form id="form">
            <input type="text" placeholder="write your message" id="input_box">
        </form>
        <p id="activity"></p>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/chat.js"></script>
</body>

</html>